root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 2

[*.sh]
max_line_length = 80
indent_size = 9
shell_variant = bash
keep_padding = true

[*.md]
max_line_length = off

[*.{groovy,java,kt}]
indent_size = 4
max_line_length = 100
